<%
  var jsonSearch = jsonData;
%>

<div class="search search--js">
  <div class="search__container search__container--js">
      <div class="search__close search__close--js">×</div>

      <div class="search__contents">

        <!-- ここに検索する項目を表示 -->
        <% for (var index in jsonSearch) { %>
          <h2 class="search__category">
            <p><%=  jsonSearch[index].category %></p>
          </h2>

          <form name="eventForm" class="search__form">
            <label for="event" class="search__group">
              <select name="event" class="search__content" onchange="selectEvent(this)">
                <option value='' disabled selected style='display:none;'>選択してください</option>
                <% for (var key in jsonSearch[index].contents) { %>
                  <% var url = jsonSearch[index].contents[key]; %>
                  <option value="<%= url %>"><%= key %></option>
                <% } %>
              </select>
            </label>
          </form>

        <% } %>

      </div>
  </div>
</div>
