<div class="search search--js">
  <div class="search__container search__container--js">
      <div class="search__close search__close--js">×</div>

      <div class="search__contents">
        <!-- ここに検索する項目を表示 -->
      </div>
  </div>
</div>
