<!DOCTYPE html>
<html>
<head>
  <%- include("./_head.ejs"); %>
</head>
<body>
  <header>
    <div class="header__innner">
      <div class="header__logo">
        <img src="asset/img/logo.jpg" alt="logo">
      </div>

      <div class="header__search js--search">
        <img src="asset/img/search.png" alt="search">
      </div>
    </div>
  </header>

  <main>
    <div class="main__inner"></div>
  </main>
</body>
</html>
