<!DOCTYPE html>
<html>
<head>
  <%- include("./_components/_head.ejs"); %>
</head>
<body>

  <%- include("./_components/_search.ejs"); %>

  <header>
    <div class="header__innner">
      <div class="header__logo">
        <img src="asset/img/logo.svg" alt="logo">
      </div>
      <h1 class="header__text">Tokyo Art Events</h1>

      <div class="header__search js--search">
        <img src="asset/img/search.png" alt="search">
      </div>
    </div>
  </header>

  <main>
    <div class="main__loading">
      <div class="loading__icon loading__front">
        <img src="./asset/img/loading_front.png" width="100px" height="100px" alt="loading">
      </div>
      <div class="loading__icon loading__back">
        <img src="./asset/img/loading_back.png" width="100px" height="100px" alt="loading">
      </div>
    </div>

    <div class="main__error">
      <h2 class="error__text"></h2>
    </div>

    <div class="main__inner"></div>
  </main>

  <footer>
    <div class="footer__inner">
      <p>Powered by Tokyo Art Beat</p>
    </div>
  </footer>


</body>
</html>
