//color
$base-text-color: #333;
$header-color: #fff;
$main-color: #de4f4f;
$event-color: #fef6f6;
$event-border-color: #cecfce;
$event-shadow-color: #f1e9e9;

$footer-color: #de4f4f;
$footer-text-color: #fff;
