//color
$base-text-color: #333;

$header-color: #fff;
$header-height: 100px;
$header-shadow-color: #333;

$main-background-image: url("../img/backImage.png");
$event-color: #fefefe;
$event-border-color: #cecfce;
$event-shadow-color: #333;
$event-pin-color: #d73745;
$event-pin-shadow: #ab2125;

$seach-background-color: #222;
$seach-border-color: #fff;
$seach-close-color: #358dd8;
$seach-text-color: #fff;

$footer-height: 70px;
$footer-text-color: #333;
