.image__centering {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 150px;
  background-color: $header-color;

  .header__innner {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 1000px;
    height: 150px;
    margin: 0 auto;

    .header__logo {
      width: 150px;

      img {
        @extend .image__centering;
      }
    }
    .header__search {
      position: absolute;
      right: 20px;
      width: 50px;
      margin-left: auto;

      img {
        @extend .image__centering;
      }
    }
  }

}
