.image__centering {
  width: 100%;
  height: auto;
}

header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: $header-color;
  z-index: 10;
  box-shadow: 0 2px 15px $header-shadow-color;

  .header__innner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1250px;
    height: $header-height;
    margin: 0 auto;

    .header__logo {
      width: 100px;

      img {
        @extend .image__centering;
      }
    }
    .header__search {
      position: absolute;
      right: 20px;
      width: 50px;
      margin-left: auto;

      img {
        @extend .image__centering;
      }
    }
  }

}
