.image__centering {
  width: 100%;
  height: auto;
}

.header--hidden {
  top: -$header-height;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: $header-height;
  background-color: $header-color;
  z-index: 10;
  box-shadow: 0 2px 15px $header-shadow-color;
  transition: 0.3s all ease-in;

  .header__innner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1250px;
    height: $header-height;
    margin: 0 auto;

    .header__logo {
      width: 90px;

      img {
        @extend .image__centering;
      }
    }

    .header__text {
      margin-left: 15px;
      color: $header-text-color;
      font-size: 2.5rem;

      @include column1{
        display: none;
      }
    }

    .header__search {
      position: absolute;
      top: 25%;
      right: 20px;
      width: 50px;
      margin-left: auto;
      cursor: pointer;

      img {
        @extend .image__centering;
      }
    }
  }
}
