main {
  width: 100%;
  min-height: calc(100% - #{$header-height} - #{$footer-height});
  padding-top: $header-height;

  .main__inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px 0 100px;

    @include min-column5 {
      padding-right: 30px;
      padding-left: 30px;
    }

    @include column2 {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
